.min-height-100vh {
  min-height: 100vh;
}
.nav-link {
  color: #fff;
}

.min-height-100vh {
  min-height: 100vh;
}
.nav-link {
  color: #fff;
}
.nav-pills .nav-link.activated {
  color: #fff;
  background-color: red;
}
